<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm()">
      <p v-if="errors.length">
        <b>Please correct the following errors: </b>
        <ul>
          <li v-for="error in errors">
            {{ error }}
          </li>
        </ul>
      </p>
      <div class="form-group">
      <label for ="nameLabel">Name:   </label>
      <input type="text" name ="name" ref="name" id="nameLabel" :disabled="mode == 'upload'" v-model="name"></div>
      
      <div class="form-group">
      <label for="addressLabel">Address:    </label>
      <input type="text" name ="address" ref="address" id="addressLabel" :disabled="mode == 'upload'" v-model="address"></div>
      
      <div class="form-group">
      <label for="hpLabel">No HP:   </label>
      <input type="text" name ="no_hp" ref="no_hp" id="hpLabel" :disabled="mode == 'upload'" v-model="no_hp"></div>
      
      <div v-if = "mode == 'edit'">
        <input type="button" value = "Update" @click="updateMember()" class="btn btn-primary">
        <input type="button" value = "Cancel" @click="clearMode()" class="btn btn-danger">
      </div>

      <div v-else-if = "mode == 'upload'">
        <input type="file" name="photo" ref="photo"><br><br>
        <input type="button" value = "Upload" @click="uploadPhoto()" class="btn btn-primary">
        <input type="button" value = "Cancel" @click="clearMode()" class="btn btn-danger">
      </div>

      <div v-else-if = "mode == 'submit'">
        <input type="submit" value = "Submit" class="btn btn-primary">
      </div>
    </form>

    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Gambar</th>
          <th scope="col">Nama</th>
          <th scope="col">Alamat</th>
          <th scope="col">Nomor HP</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="member of members">
          <td><img width=100 :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt=""></td>
          <td>{{ member.name }}</td>
          <td>{{ member.address }}</td>
          <td>{{ member.no_hp }}</td>
          <td>
            <button @click="editMode(member)" class="btn btn-primary">Edit</button>
            <button @click="removeMember(member.id)" class= "btn btn-danger" :disabled="mode == 'upload' || mode == 'edit'">Hapus</button>
            <button @click="uploadMode(member)" class="btn btn-warning">Upload</button>
          </td>
        </tr>
      </tbody>
    </table>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        mode: 'submit',
        idForEdit: null,
        idForUpload: null,
        domain: "http://demo-api-vue.sanbercloud.com"
      },
      computed: {
      },
      methods : {
        validationForm: function() {
          this.errors = [];

          if (this.name.length < 1) {
            this.errors.push("Nama tidak boleh kosong");
            this.$refs.name.focus();
          }

          if (this.address.length < 1) {
            this.errors.push("Alamat tidak boleh kosong");
            this.$refs.address.focus();
          }

          if (this.no_hp.length < 1) {
            this.errors.push("Nomor HP tidak boleh kosong");
            this.$refs.no_hp.focus();
          }
        },
        getMembers: function() {
          const config = {
            method: "get",
            url: "http://demo-api-vue.sanbercloud.com/api/member",
          }

          axios(config)
            .then((response) => {
              this.members = response.data.members;
            })
            .catch((error) => {
              console.log(error);
            })
        },
        clearForm: function() {
          this.name = "";
          this.address = "";
          this.no_hp = "";
        },
        editMode: function(member) {
          this.mode = "edit"
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.idForEdit = member.id
        },

        clearMode: function() {
          this.mode = "submit";
          this.name = ""
          this.address = ""
          this.no_hp = ""
          this.idForEdit = null
          this.idForUpload = null
        },
        uploadMode: function(member) {
          this.mode = "upload"
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.idForUpload = member.id
        },
        submitForm: function() {
          this.validationForm()

          let formData = new FormData()
          formData.append('name', this.name)
          formData.append('address', this.address)
          formData.append('no_hp', this.no_hp)
          const config = {
            method: "post",
            url: "http://demo-api-vue.sanbercloud.com/api/member",
            data: formData,
          }

          axios(config)
            .then((response) => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              console.log(error);
            })
        },

        removeMember: function(id) {
          if (confirm("Anda yakin?")) {
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method : "DELETE" }
            }

            axios(config)
              .then((response) => {
                this.getMembers()
                alert(response.data.message)
              })
              .catch((error) => {
                console.log(error);
              })
          }
        },

      updateMember: function() {
          this.validationForm()

          let formData = new FormData()
          formData.append('name', this.name)
          formData.append('address', this.address)
          formData.append('no_hp', this.no_hp)
          const config = {
            method: "post",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.idForEdit}`,
            params: { _method : "PUT" },
            data: formData
          }

          axios(config)
            .then((response) => {
              this.clearMode()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              console.log(error);
            })
        },

        uploadPhoto: function() {
         
          let photoFile = this.$refs.photo.files[0]
          let formData = new FormData()
          formData.append('photo_profile', photoFile)
          const config = {
            method: "post",
            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.idForUpload}/upload-photo-profile`,
            data: formData
          }

          axios(config)
            .then((response) => {
              this.clearMode()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              console.log(error);
            })
        },
      },
      created() {
        this.getMembers();
      }
    })
  </script>
</body>
</html>