<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="searchValue" />
      <ul>
        <li v-for="book of searchBooks">{{ book }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
          searchValue: "",
        },
        computed: {
          searchBooks: function () {
            let tempBooks = this.books;

            if (this.searchValue != "" && this.searchValue) {
              tempBooks = tempBooks.filter((book) => {
                return book
                  .toUpperCase()
                  .includes(this.searchValue.toUpperCase());
              });
            }
            return tempBooks;
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>